/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
  background-repeat: no-repeat;
}

.header {
  padding-top: 10px;
  margin:20px;
  text-align: center;
}

.inner-header{
  text-align: center;
  padding-top: 35px;
}

.container{
  display: flex;
  justify-content: center;
}

.white-box {
  font-style: italic;
  border: transparent;
  border-radius: 10px;
  color: black;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 25px;
  width: 40%;
  text-align: center;
}

.white-box2{
  margin-top: 50px;
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 65%;
  border-radius: 10px;
  text-align: center;
}

.delete-button {
  display: flex;
}

button {
  margin-top: 30px;
  font-size: 20px;
  color: white;
  background-color: #134d71;
  border: transparent;
  border-radius: 10px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.affirmation {
  font-size: 27px;
  margin-right: 150px;
}

.mantra {
  font-size: 27px;
}

.meditate {
  height: 100px;
  width: 100px;
  align-items: center
}

.output {
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
